-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: posung_hris
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `allowances`
--

DROP TABLE IF EXISTS `allowances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `allowances` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(20) NOT NULL,
  `name` varchar(100) NOT NULL,
  `type` enum('Fixed','Percentage','Variable') NOT NULL DEFAULT 'Fixed',
  `amount` decimal(18,2) DEFAULT 0.00,
  `is_taxable` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_allowance_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `allowances`
--

LOCK TABLES `allowances` WRITE;
/*!40000 ALTER TABLE `allowances` DISABLE KEYS */;
/*!40000 ALTER TABLE `allowances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `candidates`
--

DROP TABLE IF EXISTS `candidates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `candidates` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `request_id` int(10) unsigned DEFAULT NULL COMMENT 'FK ΓåÆ recruitment_requests.id',
  `full_name` varchar(100) NOT NULL,
  `dob` date DEFAULT NULL,
  `gender` enum('Male','Female','Other') DEFAULT 'Male',
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `id_card` varchar(20) DEFAULT NULL COMMENT 'Sß╗æ CCCD',
  `highest_degree` varchar(100) DEFAULT NULL COMMENT 'Bß║▒ng cß║Ñp cao nhß║Ñt',
  `major` varchar(150) DEFAULT NULL COMMENT 'Chuy├¬n ng├ánh',
  `university` varchar(200) DEFAULT NULL COMMENT 'Tr╞░ß╗¥ng ─æ├áo tß║ío',
  `graduation_year` smallint(6) DEFAULT NULL,
  `years_experience` int(11) DEFAULT 0 COMMENT 'Sß╗æ n─âm kinh nghiß╗çm',
  `current_company` varchar(200) DEFAULT NULL COMMENT 'C├┤ng ty hiß╗çn tß║íi',
  `current_position` varchar(150) DEFAULT NULL COMMENT 'Vß╗ï tr├¡ hiß╗çn tß║íi',
  `expected_salary` decimal(18,2) DEFAULT NULL,
  `cv_file_path` varchar(255) DEFAULT NULL,
  `source` varchar(100) DEFAULT NULL COMMENT 'Nguß╗ôn ß╗⌐ng tuyß╗ân: Website/Giß╗¢i thiß╗çu/Headhunt/Facebook/Kh├íc',
  `skills` text DEFAULT NULL COMMENT 'Kß╗╣ n─âng nß╗òi bß║¡t',
  `languages` varchar(200) DEFAULT NULL COMMENT 'Ngoß║íi ngß╗»',
  `status` enum('New','Screening','Interview_Scheduled','Interviewed','Offer','Hired','Rejected','Withdrawn') NOT NULL DEFAULT 'New',
  `interview_date` datetime DEFAULT NULL,
  `interview_location` varchar(200) DEFAULT NULL,
  `interview_result` enum('Pass','Fail','Pending','Deferred') DEFAULT NULL,
  `interview_score` decimal(5,2) DEFAULT NULL COMMENT '─Éiß╗âm phß╗Ång vß║Ñn (thang 10)',
  `interviewer_name` varchar(150) DEFAULT NULL,
  `interviewer_notes` text DEFAULT NULL,
  `final_decision` enum('Hire','Reject','On_Hold') DEFAULT NULL,
  `offer_salary` decimal(18,2) DEFAULT NULL,
  `offer_date` date DEFAULT NULL,
  `start_date` date DEFAULT NULL COMMENT 'Ng├áy dß╗▒ kiß║┐n bß║»t ─æß║ºu',
  `rejection_reason` varchar(255) DEFAULT NULL,
  `converted_employee_id` int(10) unsigned DEFAULT NULL COMMENT 'ID nh├ón vi├¬n sau khi chuyß╗ân ─æß╗òi',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cand_request` (`request_id`),
  KEY `idx_cand_status` (`status`),
  KEY `idx_cand_name` (`full_name`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `candidates`
--

LOCK TABLES `candidates` WRITE;
/*!40000 ALTER TABLE `candidates` DISABLE KEYS */;
/*!40000 ALTER TABLE `candidates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificates`
--

DROP TABLE IF EXISTS `certificates`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `certificates` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `cert_type` enum('Welding_6G','Welding_3G','HSE_Group3','HSE_Group6','ME_Certificate','BIM_Cert','Electrical_License','Crane_Operator','Fire_Safety','Other') NOT NULL DEFAULT 'Other',
  `cert_name` varchar(200) NOT NULL COMMENT 'TΓö£┬¼n ch├ƒΓòùΓîÉng ch├ƒΓòù├½ chi ti├ƒΓòæΓöÉt',
  `issue_date` date DEFAULT NULL,
  `expiry_date` date DEFAULT NULL,
  `cert_file_path` varchar(255) DEFAULT NULL COMMENT 'ΓöÇ├ëΓò₧Γûæ├ƒΓòù┬Ñng d├ƒΓòæ┬╜n file scan',
  `issuing_authority` varchar(150) DEFAULT NULL COMMENT 'CΓò₧├¡ quan c├ƒΓòæ├æp',
  `is_mandatory_site` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 = B├ƒΓòæ┬╗t bu├ƒΓòù├ûc khi vΓö£├ío cΓö£Γöñng trΓò₧Γûæ├ƒΓòù┬Ñng',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cert_employee` (`employee_id`),
  KEY `idx_cert_type` (`cert_type`),
  KEY `idx_cert_expiry` (`expiry_date`),
  CONSTRAINT `fk_cert_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Ch├ƒΓòùΓîÉng ch├ƒΓòù├½ ngh├ƒΓòù├╝ & an toΓö£├ín thi cΓö£Γöñng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificates`
--

LOCK TABLES `certificates` WRITE;
/*!40000 ALTER TABLE `certificates` DISABLE KEYS */;
/*!40000 ALTER TABLE `certificates` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clearance_checklists`
--

DROP TABLE IF EXISTS `clearance_checklists`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clearance_checklists` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `ppe_returned` tinyint(1) NOT NULL DEFAULT 0,
  `tools_returned` tinyint(1) NOT NULL DEFAULT 0,
  `id_card_returned` tinyint(1) NOT NULL DEFAULT 0,
  `laptop_returned` tinyint(1) NOT NULL DEFAULT 0,
  `notes` text DEFAULT NULL,
  `status` enum('Pending','Completed') NOT NULL DEFAULT 'Pending',
  `created_by` int(10) unsigned NOT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_clearance_employee` (`employee_id`),
  KEY `fk_clearance_creator` (`created_by`),
  CONSTRAINT `fk_clearance_creator` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_clearance_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='BiΓö£┬¼n b├ƒΓòæ├║n bΓö£├ín giao ΓöÇ├ªi├ƒΓòù├ºn t├ƒΓòù┬í khi thΓö£Γöñi vi├ƒΓòù├ºc';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clearance_checklists`
--

LOCK TABLES `clearance_checklists` WRITE;
/*!40000 ALTER TABLE `clearance_checklists` DISABLE KEYS */;
/*!40000 ALTER TABLE `clearance_checklists` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contract_types`
--

DROP TABLE IF EXISTS `contract_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contract_types` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `duration_months` int(11) DEFAULT NULL COMMENT 'NULL is indefinite',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contract_types`
--

LOCK TABLES `contract_types` WRITE;
/*!40000 ALTER TABLE `contract_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `contract_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contracts`
--

DROP TABLE IF EXISTS `contracts`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `contracts` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `contract_number` varchar(50) NOT NULL,
  `contract_type_id` int(10) unsigned NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `basic_salary` decimal(18,2) NOT NULL DEFAULT 0.00,
  `status` enum('Active','Expired','Terminated') NOT NULL DEFAULT 'Active',
  `file_path` varchar(255) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_contract_number` (`contract_number`),
  KEY `fk_contract_emp` (`employee_id`),
  KEY `fk_contract_type` (`contract_type_id`),
  CONSTRAINT `fk_contract_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_contract_type` FOREIGN KEY (`contract_type_id`) REFERENCES `contract_types` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contracts`
--

LOCK TABLES `contracts` WRITE;
/*!40000 ALTER TABLE `contracts` DISABLE KEYS */;
/*!40000 ALTER TABLE `contracts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cost_centers`
--

DROP TABLE IF EXISTS `cost_centers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cost_centers` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(30) NOT NULL COMMENT 'VD: CC_AMKOR_01, CC_SEHC_02',
  `name` varchar(150) NOT NULL,
  `project_id` int(10) unsigned DEFAULT NULL,
  `budget` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'NgΓö£├│n sΓö£├¡ch (VNΓöÇ├ë)',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_cc_code` (`code`),
  KEY `idx_cc_project` (`project_id`),
  CONSTRAINT `fk_cc_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Trung tΓö£├│m chi phΓö£┬í ╬ô├ç├┤ phΓö£├│n b├ƒΓòù├▓ theo d├ƒΓòùΓûÆ Γö£├¡n';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cost_centers`
--

LOCK TABLES `cost_centers` WRITE;
/*!40000 ALTER TABLE `cost_centers` DISABLE KEYS */;
INSERT INTO `cost_centers` VALUES (1,'CC_AMKOR_01','CC Amkor ΓÇô Nh├ón c├┤ng M&E',1,12500000000.00,'2026-09-08 11:26:08','2026-09-16 13:54:02'),(2,'CC_AMKOR_02','CC Amkor ΓÇô Vß║¡t t╞░ ß╗æng',1,8500000000.00,'2026-09-08 11:26:08','2026-09-16 13:54:02'),(3,'CC_SEHC_01','CC Samsung ΓÇô Nh├ón c├┤ng HVAC',2,9800000000.00,'2026-09-08 11:26:08','2026-09-16 13:54:02'),(4,'CC_SEHC_02','CC Samsung ΓÇô Ph├▓ng sß║ích CR',2,15200000000.00,'2026-09-08 11:26:08','2026-09-16 13:54:02'),(5,'CC_STL_01','CC Starlake ΓÇô Nh├ón c├┤ng MEP',3,6300000000.00,'2026-09-08 11:26:08','2026-09-16 13:54:02');
/*!40000 ALTER TABLE `cost_centers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `dept_code` varchar(20) NOT NULL,
  `dept_name` varchar(150) NOT NULL,
  `branch` enum('Hanoi_HQ','HCM_Office','Factory_Spool','Site_Project') NOT NULL DEFAULT 'Hanoi_HQ',
  `description` text DEFAULT NULL COMMENT 'M├┤ tß║ú chi tiß║┐t chß╗⌐c n─âng bß╗Ö phß║¡n',
  `functions` text DEFAULT NULL COMMENT 'Danh s├ích chß╗⌐c n─âng ch├¡nh (JSON array)',
  `parent_id` int(10) unsigned DEFAULT NULL,
  `manager_id` int(10) unsigned DEFAULT NULL COMMENT 'FK ΓåÆ employees.id ΓÇô Tr╞░ß╗ƒng bß╗Ö phß║¡n',
  `phone` varchar(30) DEFAULT NULL COMMENT 'Sß╗æ ─æiß╗çn thoß║íi li├¬n hß╗ç bß╗Ö phß║¡n',
  `email` varchar(100) DEFAULT NULL COMMENT 'Email bß╗Ö phß║¡n',
  `office_location` varchar(200) DEFAULT NULL COMMENT '─Éß╗ïa ─æiß╗âm v─ân ph├▓ng / c├┤ng tr├¼nh',
  `established_date` date DEFAULT NULL COMMENT 'Ng├áy th├ánh lß║¡p bß╗Ö phß║¡n',
  `dept_type` enum('Division','Department','Team','Project') NOT NULL DEFAULT 'Department' COMMENT 'Loß║íi h├¼nh tß╗ò chß╗⌐c',
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active' COMMENT 'Trß║íng th├íi hoß║ít ─æß╗Öng',
  `sort_order` int(11) NOT NULL DEFAULT 0 COMMENT 'Thß╗⌐ tß╗▒ hiß╗ân thß╗ï',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_dept_code` (`dept_code`),
  KEY `idx_dept_parent` (`parent_id`),
  KEY `fk_dept_manager` (`manager_id`),
  CONSTRAINT `fk_dept_manager` FOREIGN KEY (`manager_id`) REFERENCES `employees` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_dept_parent` FOREIGN KEY (`parent_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh m├ƒΓòù├æc phΓö£Γûông ban / ΓöÇ├ªΓò₧├¡n v├ƒΓòù├» (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a DMDVI)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dependents`
--

DROP TABLE IF EXISTS `dependents`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dependents` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `relationship` varchar(50) NOT NULL,
  `dob` date DEFAULT NULL,
  `tax_code` varchar(20) DEFAULT NULL,
  `status` enum('Active','Inactive') NOT NULL DEFAULT 'Active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_dependent_emp` (`employee_id`),
  CONSTRAINT `fk_dependent_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dependents`
--

LOCK TABLES `dependents` WRITE;
/*!40000 ALTER TABLE `dependents` DISABLE KEYS */;
/*!40000 ALTER TABLE `dependents` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_appointments`
--

DROP TABLE IF EXISTS `emp_appointments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_appointments` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `effective_date` date NOT NULL,
  `position_title` varchar(150) NOT NULL COMMENT 'Ch???c v??? ???????c b??? nhi???m',
  `department` varchar(150) DEFAULT NULL COMMENT 'Ph??ng ban / B??? ph???n',
  `decision_number` varchar(50) DEFAULT NULL COMMENT 'S??? quy???t ?????nh',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ap_emp` (`employee_id`),
  KEY `idx_ap_date` (`effective_date`),
  CONSTRAINT `emp_appointments_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_appointments`
--

LOCK TABLES `emp_appointments` WRITE;
/*!40000 ALTER TABLE `emp_appointments` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_appointments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_evaluations`
--

DROP TABLE IF EXISTS `emp_evaluations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_evaluations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `eval_year` smallint(6) NOT NULL COMMENT 'N??m ????nh gi??',
  `eval_period` varchar(50) DEFAULT NULL COMMENT 'K??? ????nh gi?? (6 th??ng ?????u, c??? n??m...)',
  `rating` varchar(50) DEFAULT NULL COMMENT 'X???p lo???i (Xu???t s???c, T???t, Kh??, TB, Y???u)',
  `evaluator` varchar(100) DEFAULT NULL COMMENT 'Ng?????i ????nh gi??',
  `score` decimal(5,2) DEFAULT NULL COMMENT '??i???m s??? (n???u c??)',
  `notes` text DEFAULT NULL COMMENT 'Nh???n x??t',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_ev_emp` (`employee_id`),
  KEY `idx_ev_year` (`eval_year`),
  CONSTRAINT `emp_evaluations_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_evaluations`
--

LOCK TABLES `emp_evaluations` WRITE;
/*!40000 ALTER TABLE `emp_evaluations` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_evaluations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_family_members`
--

DROP TABLE IF EXISTS `emp_family_members`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_family_members` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `full_name` varchar(100) NOT NULL,
  `relationship` varchar(50) NOT NULL COMMENT 'B???, M???, V???/Ch???ng, Con...',
  `dob` date DEFAULT NULL,
  `occupation` varchar(150) DEFAULT NULL COMMENT 'Ngh??? nghi???p',
  `workplace` varchar(200) DEFAULT NULL COMMENT 'N??i l??m vi???c / ????n v??? c??ng t??c',
  `address` varchar(250) DEFAULT NULL COMMENT 'N??i ??? hi???n nay',
  `id_card` varchar(30) DEFAULT NULL COMMENT 'S??? CCCD',
  `phone` varchar(20) DEFAULT NULL,
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_fm_emp` (`employee_id`),
  CONSTRAINT `emp_family_members_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_family_members`
--

LOCK TABLES `emp_family_members` WRITE;
/*!40000 ALTER TABLE `emp_family_members` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_family_members` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_reward_discipline_histories`
--

DROP TABLE IF EXISTS `emp_reward_discipline_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_reward_discipline_histories` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `type` enum('Reward','Discipline') NOT NULL,
  `decision_number` varchar(50) DEFAULT NULL COMMENT 'S??? quy???t ?????nh',
  `decision_date` date DEFAULT NULL,
  `title` varchar(200) NOT NULL COMMENT 'H??nh th???c KT/KL',
  `reason` text DEFAULT NULL COMMENT 'L?? do',
  `authority` varchar(200) DEFAULT NULL COMMENT 'C?? quan quy???t ?????nh',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_rdh_emp` (`employee_id`),
  KEY `idx_rdh_type` (`type`),
  CONSTRAINT `emp_reward_discipline_histories_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_reward_discipline_histories`
--

LOCK TABLES `emp_reward_discipline_histories` WRITE;
/*!40000 ALTER TABLE `emp_reward_discipline_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_reward_discipline_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_salary_progressions`
--

DROP TABLE IF EXISTS `emp_salary_progressions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_salary_progressions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `effective_date` date NOT NULL,
  `salary_grade` varchar(50) DEFAULT NULL COMMENT 'Ng???ch / B???c l????ng',
  `salary_coefficient` decimal(5,2) DEFAULT NULL COMMENT 'H??? s??? l????ng',
  `base_salary` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'M???c l????ng c?? b???n',
  `decision_number` varchar(50) DEFAULT NULL COMMENT 'S??? quy???t ?????nh',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sp_emp` (`employee_id`),
  KEY `idx_sp_date` (`effective_date`),
  CONSTRAINT `emp_salary_progressions_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_salary_progressions`
--

LOCK TABLES `emp_salary_progressions` WRITE;
/*!40000 ALTER TABLE `emp_salary_progressions` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_salary_progressions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_trainings`
--

DROP TABLE IF EXISTS `emp_trainings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_trainings` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `from_date` date DEFAULT NULL,
  `to_date` date DEFAULT NULL,
  `institution` varchar(200) NOT NULL DEFAULT '' COMMENT 'Tr?????ng / C?? s??? ????o t???o',
  `major` varchar(200) DEFAULT NULL COMMENT 'Chuy??n ng??nh',
  `certificate` varchar(200) DEFAULT NULL COMMENT 'Ch???ng ch??? / V??n b???ng',
  `degree_type` varchar(100) DEFAULT NULL COMMENT 'Lo???i h??nh (??H, C??, TC, Ng???n h???n...)',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_tr_emp` (`employee_id`),
  CONSTRAINT `emp_trainings_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_trainings`
--

LOCK TABLES `emp_trainings` WRITE;
/*!40000 ALTER TABLE `emp_trainings` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_trainings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `emp_work_histories`
--

DROP TABLE IF EXISTS `emp_work_histories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `emp_work_histories` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `from_date` date DEFAULT NULL,
  `to_date` date DEFAULT NULL,
  `organization` varchar(200) NOT NULL DEFAULT '' COMMENT 'T??n c??ng ty / t??? ch???c',
  `position` varchar(150) DEFAULT NULL COMMENT 'Ch???c v???',
  `project_name` varchar(200) DEFAULT NULL COMMENT 'T??n d??? ??n',
  `description` text DEFAULT NULL COMMENT 'M?? t??? c??ng vi???c',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_wh_emp` (`employee_id`),
  CONSTRAINT `emp_work_histories_ibfk_1` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `emp_work_histories`
--

LOCK TABLES `emp_work_histories` WRITE;
/*!40000 ALTER TABLE `emp_work_histories` DISABLE KEYS */;
/*!40000 ALTER TABLE `emp_work_histories` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employee_allowances`
--

DROP TABLE IF EXISTS `employee_allowances`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employee_allowances` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `allowance_id` int(10) unsigned NOT NULL,
  `effective_date` date NOT NULL,
  `amount` decimal(18,2) DEFAULT NULL COMMENT 'Override amount if specific to employee',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_ea_emp` (`employee_id`),
  KEY `fk_ea_allowance` (`allowance_id`),
  CONSTRAINT `fk_ea_allowance` FOREIGN KEY (`allowance_id`) REFERENCES `allowances` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ea_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employee_allowances`
--

LOCK TABLES `employee_allowances` WRITE;
/*!40000 ALTER TABLE `employee_allowances` DISABLE KEYS */;
/*!40000 ALTER TABLE `employee_allowances` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employees`
--

DROP TABLE IF EXISTS `employees`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employees` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `emp_code` varchar(20) NOT NULL COMMENT 'MΓö£├║ nhΓö£├│n viΓö£┬¼n duy nh├ƒΓòæ├æt',
  `full_name` varchar(100) NOT NULL,
  `dob` date DEFAULT NULL COMMENT 'NgΓö£├íy sinh',
  `gender` enum('Male','Female','Other') NOT NULL DEFAULT 'Male',
  `id_card` varchar(30) DEFAULT NULL COMMENT 'CCCD / H├ƒΓòù├û chi├ƒΓòæΓöÉu',
  `id_card_date` date DEFAULT NULL COMMENT 'NgΓö£├íy c├ƒΓòæ├æp',
  `id_card_place` varchar(150) DEFAULT NULL COMMENT 'NΓò₧├¡i c├ƒΓòæ├æp',
  `hometown` varchar(200) DEFAULT NULL COMMENT 'QuΓö£┬¼ quΓö£├¡n',
  `address` varchar(250) DEFAULT NULL COMMENT 'ΓöÇ├ë├ƒΓòù├»a ch├ƒΓòù├½ thΓò₧Γûæ├ƒΓòù┬Ñng trΓö£Γòæ',
  `phone` varchar(20) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `nationality` varchar(50) NOT NULL DEFAULT 'Vietnam',
  `employee_type` enum('Expat','Office_BIM','Site_Engineer','Direct_Worker') NOT NULL DEFAULT 'Direct_Worker',
  `department_id` int(10) unsigned DEFAULT NULL,
  `current_project_id` int(10) unsigned DEFAULT NULL,
  `position_id` int(10) unsigned DEFAULT NULL,
  `join_date` date DEFAULT NULL COMMENT 'NgΓö£├íy vΓö£├ío cΓö£Γöñng ty',
  `official_date` date DEFAULT NULL COMMENT 'NgΓö£├íy chΓö£┬ính th├ƒΓòùΓîÉc',
  `highest_degree` varchar(100) DEFAULT NULL COMMENT 'TrΓö£┬╝nh ΓöÇ├ª├ƒΓòù├û chuyΓö£┬¼n mΓö£Γöñn cao nh├ƒΓòæ├æt',
  `status` enum('Probation','Active','Suspended','Resigned','Retired','Blacklisted') NOT NULL DEFAULT 'Probation',
  `avatar_path` varchar(255) DEFAULT NULL,
  `cv_file_path` varchar(255) DEFAULT NULL COMMENT 'ΓöÇ├ëΓò₧Γûæ├ƒΓòù┬Ñng d├ƒΓòæ┬╜n file CV/CCCD scan',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_emp_code` (`emp_code`),
  KEY `idx_emp_dept` (`department_id`),
  KEY `idx_emp_project` (`current_project_id`),
  KEY `idx_emp_pos` (`position_id`),
  KEY `idx_emp_status` (`status`),
  KEY `idx_emp_type` (`employee_type`),
  KEY `idx_emp_nationality` (`nationality`),
  CONSTRAINT `fk_emp_dept` FOREIGN KEY (`department_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_emp_position` FOREIGN KEY (`position_id`) REFERENCES `positions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_emp_project` FOREIGN KEY (`current_project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='H├ƒΓòù├┤ sΓò₧├¡ nhΓö£├│n viΓö£┬¼n chΓö£┬ính (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a SOYEU)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employees`
--

LOCK TABLES `employees` WRITE;
/*!40000 ALTER TABLE `employees` DISABLE KEYS */;
/*!40000 ALTER TABLE `employees` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `expat_details`
--

DROP TABLE IF EXISTS `expat_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `expat_details` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `passport_number` varchar(30) DEFAULT NULL,
  `passport_expiry` date DEFAULT NULL COMMENT 'Hß║ín hß╗Ö chiß║┐u',
  `visa_number` varchar(50) DEFAULT NULL,
  `visa_expiry` date DEFAULT NULL,
  `work_permit_number` varchar(50) DEFAULT NULL,
  `work_permit_expiry` date DEFAULT NULL,
  `trc_number` varchar(50) DEFAULT NULL COMMENT 'Th├ƒΓòæΓòù t├ƒΓòæ├¡m trΓö£Γòæ (Temporary Residence Card)',
  `trc_expiry` date DEFAULT NULL,
  `emergency_korea_contact` varchar(200) DEFAULT NULL COMMENT 'LiΓö£┬¼n h├ƒΓòù├º kh├ƒΓòæΓîÉn c├ƒΓòæ├æp t├ƒΓòæ├¡i HΓö£├ín Qu├ƒΓòù├ªc',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_expat_employee` (`employee_id`),
  KEY `idx_expat_visa_expiry` (`visa_expiry`),
  KEY `idx_expat_wp_expiry` (`work_permit_expiry`),
  KEY `idx_expat_trc_expiry` (`trc_expiry`),
  CONSTRAINT `fk_expat_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Chi ti├ƒΓòæΓöÉt visa/TRC chuyΓö£┬¼n gia nΓò₧Γûæ├ƒΓòù┬óc ngoΓö£├íi (Expat)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `expat_details`
--

LOCK TABLES `expat_details` WRITE;
/*!40000 ALTER TABLE `expat_details` DISABLE KEYS */;
INSERT INTO `expat_details` VALUES (1,1,'M12345678',NULL,'DL2025-VN-00123','2027-06-01','GP-LΓöÇ├ë-2025-HN-0045','2027-06-01','TRC-2025-HN-0012','2027-06-01','Mrs. Park Sun Young ╬ô├ç├┤ Tel: +82-10-1234-5678 (Seoul)','2026-09-08 11:26:08','2026-09-08 11:26:08');
/*!40000 ALTER TABLE `expat_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `job_movements`
--

DROP TABLE IF EXISTS `job_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_movements` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `transfer_order_id` int(10) unsigned DEFAULT NULL,
  `movement_type` enum('Transfer','Promotion','Demotion','Assignment','Secondment') NOT NULL DEFAULT 'Transfer',
  `from_project_id` int(10) unsigned DEFAULT NULL,
  `to_project_id` int(10) unsigned DEFAULT NULL,
  `from_dept_id` int(10) unsigned DEFAULT NULL,
  `to_dept_id` int(10) unsigned DEFAULT NULL,
  `from_position_id` int(10) unsigned DEFAULT NULL,
  `to_position_id` int(10) unsigned DEFAULT NULL,
  `decision_number` varchar(50) DEFAULT NULL COMMENT 'S├ƒΓòù├ª quy├ƒΓòæΓöÉt ΓöÇ├ª├ƒΓòù├»nh',
  `effective_date` date NOT NULL,
  `cost_center_id` int(10) unsigned DEFAULT NULL,
  `reason` text DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL COMMENT 'ID user phΓö£┬¼ duy├ƒΓòù├ºt',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_jm_employee` (`employee_id`),
  KEY `idx_jm_effective` (`effective_date`),
  KEY `idx_jm_type` (`movement_type`),
  KEY `fk_jm_from_project` (`from_project_id`),
  KEY `fk_jm_to_project` (`to_project_id`),
  KEY `fk_jm_from_dept` (`from_dept_id`),
  KEY `fk_jm_to_dept` (`to_dept_id`),
  KEY `fk_jm_from_pos` (`from_position_id`),
  KEY `fk_jm_to_pos` (`to_position_id`),
  KEY `fk_jm_cc` (`cost_center_id`),
  KEY `fk_jm_approver` (`approved_by`),
  KEY `fk_jm_to` (`transfer_order_id`),
  CONSTRAINT `fk_jm_approver` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_cc` FOREIGN KEY (`cost_center_id`) REFERENCES `cost_centers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_from_dept` FOREIGN KEY (`from_dept_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_from_pos` FOREIGN KEY (`from_position_id`) REFERENCES `positions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_from_project` FOREIGN KEY (`from_project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_to` FOREIGN KEY (`transfer_order_id`) REFERENCES `transfer_orders` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_to_dept` FOREIGN KEY (`to_dept_id`) REFERENCES `departments` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_to_pos` FOREIGN KEY (`to_position_id`) REFERENCES `positions` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_jm_to_project` FOREIGN KEY (`to_project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='L├ƒΓòù├»ch s├ƒΓòù┬í ΓöÇ├ªi├ƒΓòù├╝u ΓöÇ├ª├ƒΓòù├ûng & b├ƒΓòù├▓ nhi├ƒΓòù├ºm (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a QTCTAC + QTBNHIEM)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_movements`
--

LOCK TABLES `job_movements` WRITE;
/*!40000 ALTER TABLE `job_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_requests`
--

DROP TABLE IF EXISTS `leave_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_requests` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `leave_type_id` int(10) unsigned NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date NOT NULL,
  `total_days` decimal(5,1) NOT NULL,
  `reason` text NOT NULL,
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `approved_by` int(10) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_leave_emp` (`employee_id`),
  KEY `fk_leave_type` (`leave_type_id`),
  KEY `fk_leave_approver` (`approved_by`),
  CONSTRAINT `fk_leave_approver` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_leave_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_leave_type` FOREIGN KEY (`leave_type_id`) REFERENCES `leave_types` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_requests`
--

LOCK TABLES `leave_requests` WRITE;
/*!40000 ALTER TABLE `leave_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `leave_types`
--

DROP TABLE IF EXISTS `leave_types`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `leave_types` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `days_per_year` decimal(5,1) DEFAULT 12.0,
  `is_paid` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `leave_types`
--

LOCK TABLES `leave_types` WRITE;
/*!40000 ALTER TABLE `leave_types` DISABLE KEYS */;
/*!40000 ALTER TABLE `leave_types` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payrolls`
--

DROP TABLE IF EXISTS `payrolls`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `payrolls` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `month` tinyint(3) unsigned NOT NULL COMMENT '1-12',
  `year` smallint(5) unsigned NOT NULL,
  `employee_id` int(10) unsigned NOT NULL,
  `project_id` int(10) unsigned DEFAULT NULL,
  `cost_center_id` int(10) unsigned DEFAULT NULL,
  `standard_days` decimal(4,1) NOT NULL DEFAULT 26.0,
  `actual_days` decimal(4,1) NOT NULL DEFAULT 0.0,
  `ot_pay` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Ti├ƒΓòù├╝n tΓöÇ├óng ca',
  `allowances_total` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'T├ƒΓòù├▓ng ph├ƒΓòù├æ c├ƒΓòæ├æp',
  `deductions_total` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'T├ƒΓòù├▓ng kh├ƒΓòæ├æu tr├ƒΓòù┬╜ (BH, thu├ƒΓòæΓöÉ╬ô├ç┬¬)',
  `net_salary` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Th├ƒΓòùΓûÆc lΓö£├║nh',
  `payment_status` enum('Draft','Calculated','Approved','Paid') NOT NULL DEFAULT 'Draft',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_payroll_emp_month` (`employee_id`,`month`,`year`),
  KEY `idx_payroll_period` (`year`,`month`),
  KEY `idx_payroll_project` (`project_id`),
  KEY `idx_payroll_cc` (`cost_center_id`),
  KEY `idx_payroll_status` (`payment_status`),
  CONSTRAINT `fk_payroll_cc` FOREIGN KEY (`cost_center_id`) REFERENCES `cost_centers` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_payroll_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_payroll_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='B├ƒΓòæ├║ng lΓò₧ΓûæΓò₧├¡ng t├ƒΓòù├▓ng h├ƒΓòù├║p theo thΓö£├¡ng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payrolls`
--

LOCK TABLES `payrolls` WRITE;
/*!40000 ALTER TABLE `payrolls` DISABLE KEYS */;
/*!40000 ALTER TABLE `payrolls` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `positions`
--

DROP TABLE IF EXISTS `positions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `positions` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `pos_code` varchar(20) NOT NULL,
  `pos_title` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `allowance_rate` decimal(5,2) NOT NULL DEFAULT 0.00 COMMENT 'H├ƒΓòù├º s├ƒΓòù├ª ph├ƒΓòù├æ c├ƒΓòæ├æp ch├ƒΓòùΓîÉc v├ƒΓòù├æ',
  `job_level` tinyint(3) unsigned NOT NULL DEFAULT 1 COMMENT '1=Staff, 2=Lead, 3=Manager, 4=Director, 5=CEO',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_pos_code` (`pos_code`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh m├ƒΓòù├æc ch├ƒΓòùΓîÉc v├ƒΓòù├æ (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a DMCVCQ)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `positions`
--

LOCK TABLES `positions` WRITE;
/*!40000 ALTER TABLE `positions` DISABLE KEYS */;
/*!40000 ALTER TABLE `positions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `projects`
--

DROP TABLE IF EXISTS `projects`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `projects` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `project_code` varchar(30) NOT NULL,
  `project_name` varchar(200) NOT NULL,
  `location` varchar(200) DEFAULT NULL,
  `client_name` varchar(150) DEFAULT NULL COMMENT 'Samsung, Amkor, Daewoo E&C, ╬ô├ç┬¬',
  `start_date` date DEFAULT NULL,
  `end_date` date DEFAULT NULL,
  `status` enum('Planning','In_Progress','Completed','On_Hold','Cancelled') NOT NULL DEFAULT 'Planning',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_project_code` (`project_code`),
  KEY `idx_project_status` (`status`),
  KEY `idx_project_client` (`client_name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Danh m├ƒΓòù├æc d├ƒΓòùΓûÆ Γö£├¡n thi cΓö£Γöñng';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recruitment_requests`
--

DROP TABLE IF EXISTS `recruitment_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `recruitment_requests` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `request_code` varchar(30) NOT NULL COMMENT 'M├ú y├¬u cß║ºu: TD-YYYY-XXXX',
  `department_id` int(10) unsigned DEFAULT NULL,
  `position_id` int(10) unsigned DEFAULT NULL,
  `project_id` int(10) unsigned DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 1 COMMENT 'Sß╗æ l╞░ß╗úng cß║ºn tuyß╗ân',
  `reason` enum('Replacement','Expansion','New_Position','Seasonal') NOT NULL DEFAULT 'Expansion' COMMENT 'L├╜ do: Thay thß║┐/Mß╗ƒ rß╗Öng/Vß╗ï tr├¡ mß╗¢i/Thß╗¥i vß╗Ñ',
  `urgency` enum('Normal','Urgent','Critical') NOT NULL DEFAULT 'Normal',
  `description` text DEFAULT NULL COMMENT 'M├┤ tß║ú c├┤ng viß╗çc',
  `requirements` text DEFAULT NULL COMMENT 'Y├¬u cß║ºu ß╗⌐ng vi├¬n',
  `salary_range_from` decimal(18,2) DEFAULT NULL,
  `salary_range_to` decimal(18,2) DEFAULT NULL,
  `benefits` text DEFAULT NULL COMMENT 'Quyß╗ün lß╗úi',
  `work_location` varchar(200) DEFAULT NULL COMMENT '─Éß╗ïa ─æiß╗âm l├ám viß╗çc',
  `deadline` date DEFAULT NULL COMMENT 'Hß║ín tuyß╗ân',
  `requested_by` int(10) unsigned DEFAULT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `status` enum('Draft','Pending','Approved','In_Progress','Closed','Cancelled') NOT NULL DEFAULT 'Draft',
  `hired_count` int(11) NOT NULL DEFAULT 0 COMMENT 'Sß╗æ ─æ├ú tuyß╗ân ─æ╞░ß╗úc',
  `notes` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_request_code` (`request_code`),
  KEY `idx_rr_dept` (`department_id`),
  KEY `idx_rr_status` (`status`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recruitment_requests`
--

LOCK TABLES `recruitment_requests` WRITE;
/*!40000 ALTER TABLE `recruitment_requests` DISABLE KEYS */;
INSERT INTO `recruitment_requests` VALUES (1,'TD-2026-0001',NULL,NULL,NULL,3,'Expansion','Normal','Tuyß╗ân thß╗ú h├án 3G/6G cho dß╗▒ ├ín Amkor Bß║»c Ninh','C├│ chß╗⌐ng chß╗ë h├án 3G hoß║╖c 6G, kinh nghiß╗çm >2 n─âm',NULL,NULL,NULL,NULL,'2026-10-15',NULL,NULL,'In_Progress',0,NULL,'2026-09-16 09:50:19','2026-09-16 09:50:19'),(2,'TD-2026-0002',NULL,NULL,NULL,1,'Replacement','Normal','Tuyß╗ân kß╗╣ s╞░ M&E thay thß║┐','Tß╗æt nghiß╗çp ─ÉH ng├ánh ─Éiß╗çn/C╞í ─æiß╗çn, TOEIC > 450',NULL,NULL,NULL,NULL,'2026-11-01',NULL,NULL,'Approved',0,NULL,'2026-09-16 09:50:19','2026-09-16 09:50:19');
/*!40000 ALTER TABLE `recruitment_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rewards_disciplines`
--

DROP TABLE IF EXISTS `rewards_disciplines`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `rewards_disciplines` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `department_id` int(10) unsigned DEFAULT NULL COMMENT 'Ph├▓ng ban li├¬n quan',
  `project_id` int(10) unsigned DEFAULT NULL COMMENT 'Dß╗▒ ├ín li├¬n quan',
  `type` enum('Reward','Discipline') NOT NULL,
  `reward_form` varchar(100) DEFAULT NULL COMMENT 'H├¼nh thß╗⌐c KT: Bß║▒ng khen, Giß║Ñy khen, Tiß╗ün th╞░ß╗ƒng, T─âng l╞░╞íng tr╞░ß╗¢c hß║ín',
  `discipline_form` varchar(100) DEFAULT NULL COMMENT 'H├¼nh thß╗⌐c KL: Khiß╗ân tr├ích, Cß║únh c├ío, C├ích chß╗⌐c, Hß║í bß║¡c l╞░╞íng, Buß╗Öc th├┤i viß╗çc',
  `decision_number` varchar(50) DEFAULT NULL,
  `decision_date` date DEFAULT NULL,
  `title` varchar(200) NOT NULL COMMENT 'N├ƒΓòù├ûi dung khen thΓò₧Γûæ├ƒΓòù╞Æng / k├ƒΓòùΓòû lu├ƒΓòæ┬ít',
  `amount` decimal(18,2) DEFAULT 0.00 COMMENT 'S├ƒΓòù├ª ti├ƒΓòù├╝n thΓò₧Γûæ├ƒΓòù╞Æng / ph├ƒΓòæ├¡t',
  `reason` text DEFAULT NULL,
  `authority_level` varchar(100) DEFAULT NULL COMMENT 'Cß║Ñp ra Q─É: Gi├ím ─æß╗æc, Tr╞░ß╗ƒng ph├▓ng, Tr╞░ß╗ƒng dß╗▒ ├ín',
  `proposed_by` varchar(150) DEFAULT NULL COMMENT 'Ng╞░ß╗¥i ─æß╗ü xuß║Ñt',
  `status` enum('Draft','Pending','Approved','Rejected') NOT NULL DEFAULT 'Approved' COMMENT 'Trß║íng th├íi quyß║┐t ─æß╗ïnh',
  `approved_by` int(10) unsigned DEFAULT NULL COMMENT 'Ng╞░ß╗¥i ph├¬ duyß╗çt',
  `approved_date` date DEFAULT NULL COMMENT 'Ng├áy ph├¬ duyß╗çt',
  `is_safety_violation` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 = Vi ph├ƒΓòæ├¡m HSE ╬ô├Ñ├å xem xΓö£ΓîÉt Blacklist',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_rd_employee` (`employee_id`),
  KEY `idx_rd_type` (`type`),
  KEY `idx_rd_safety` (`is_safety_violation`),
  CONSTRAINT `fk_rd_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Khen thΓò₧Γûæ├ƒΓòù╞Æng & K├ƒΓòùΓòû lu├ƒΓòæ┬ít (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a QTKTKL)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rewards_disciplines`
--

LOCK TABLES `rewards_disciplines` WRITE;
/*!40000 ALTER TABLE `rewards_disciplines` DISABLE KEYS */;
/*!40000 ALTER TABLE `rewards_disciplines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `salaries`
--

DROP TABLE IF EXISTS `salaries`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `salaries` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `effective_date` date NOT NULL COMMENT 'NgΓö£├íy Γö£├¡p d├ƒΓòù├æng m├ƒΓòùΓîÉc lΓò₧ΓûæΓò₧├¡ng',
  `grade_code` varchar(20) DEFAULT NULL COMMENT 'Ng├ƒΓòæ├¡ch / b├ƒΓòæ┬íc lΓò₧ΓûæΓò₧├¡ng',
  `base_salary` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'LΓò₧ΓûæΓò₧├¡ng cΓò₧├¡ b├ƒΓòæ├║n (VNΓöÇ├ë)',
  `project_allowance` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Ph├ƒΓòù├æ c├ƒΓòæ├æp d├ƒΓòùΓûÆ Γö£├¡n',
  `cleanroom_allowance` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Ph├ƒΓòù├æ c├ƒΓòæ├æp phΓö£Γûông s├ƒΓòæ├¡ch',
  `remote_allowance` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Ph├ƒΓòù├æ c├ƒΓòæ├æp xa nhΓö£├í',
  `hazard_allowance` decimal(18,2) NOT NULL DEFAULT 0.00 COMMENT 'Ph├ƒΓòù├æ c├ƒΓòæ├æp ΓöÇ├ª├ƒΓòù├ûc h├ƒΓòæ├¡i',
  `insurance_rate` decimal(5,2) NOT NULL DEFAULT 10.50 COMMENT '% BHXH + BHYT + BHTN',
  `notes` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_sal_employee` (`employee_id`),
  KEY `idx_sal_effective` (`effective_date`),
  CONSTRAINT `fk_sal_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='Di├ƒΓòù├án bi├ƒΓòæΓöÉn ti├ƒΓòù├╝n lΓò₧ΓûæΓò₧├¡ng (k├ƒΓòæΓöÉ th├ƒΓòù┬╜a QTLUONG)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `salaries`
--

LOCK TABLES `salaries` WRITE;
/*!40000 ALTER TABLE `salaries` DISABLE KEYS */;
/*!40000 ALTER TABLE `salaries` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timesheets`
--

DROP TABLE IF EXISTS `timesheets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `timesheets` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `project_id` int(10) unsigned DEFAULT NULL,
  `work_date` date NOT NULL,
  `check_in` time DEFAULT NULL,
  `check_out` time DEFAULT NULL,
  `shift_type` enum('Day','Night','Sunday','Holiday') NOT NULL DEFAULT 'Day',
  `is_cleanroom` tinyint(1) NOT NULL DEFAULT 0 COMMENT '1 = LΓö£├ím vi├ƒΓòù├ºc trong phΓö£Γûông s├ƒΓòæ├¡ch',
  `ot_hours` decimal(4,1) NOT NULL DEFAULT 0.0 COMMENT 'S├ƒΓòù├ª gi├ƒΓòù┬Ñ tΓöÇ├óng ca',
  `status` enum('Pending','Approved','Rejected') NOT NULL DEFAULT 'Pending',
  `approved_by` int(10) unsigned DEFAULT NULL,
  `notes` varchar(255) DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_ts_emp_date` (`employee_id`,`work_date`),
  KEY `idx_ts_project` (`project_id`),
  KEY `idx_ts_date` (`work_date`),
  KEY `idx_ts_status` (`status`),
  KEY `fk_ts_approver` (`approved_by`),
  CONSTRAINT `fk_ts_approver` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_ts_employee` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_ts_project` FOREIGN KEY (`project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=55 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='B├ƒΓòæ├║ng ch├ƒΓòæ├æm cΓö£Γöñng hΓö£├íng ngΓö£├íy';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timesheets`
--

LOCK TABLES `timesheets` WRITE;
/*!40000 ALTER TABLE `timesheets` DISABLE KEYS */;
/*!40000 ALTER TABLE `timesheets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transfer_orders`
--

DROP TABLE IF EXISTS `transfer_orders`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `transfer_orders` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `decision_number` varchar(50) NOT NULL COMMENT 'S├ƒΓòù├ª quy├ƒΓòæΓöÉt ΓöÇ├ª├ƒΓòù├»nh ΓöÇ├ªi├ƒΓòù├╝u ΓöÇ├ª├ƒΓòù├ûng',
  `from_project_id` int(10) unsigned DEFAULT NULL,
  `to_project_id` int(10) unsigned DEFAULT NULL,
  `effective_date` date NOT NULL,
  `reason` text DEFAULT NULL,
  `status` enum('Pending','Approved','Cancelled') NOT NULL DEFAULT 'Pending',
  `created_by` int(10) unsigned NOT NULL,
  `approved_by` int(10) unsigned DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `decision_number` (`decision_number`),
  KEY `fk_to_from_project` (`from_project_id`),
  KEY `fk_to_to_project` (`to_project_id`),
  KEY `fk_to_created_by` (`created_by`),
  KEY `fk_to_approved_by` (`approved_by`),
  CONSTRAINT `fk_to_approved_by` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_to_created_by` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_to_from_project` FOREIGN KEY (`from_project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_to_to_project` FOREIGN KEY (`to_project_id`) REFERENCES `projects` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='L├ƒΓòù├ºnh ΓöÇ├ªi├ƒΓòù├╝u ΓöÇ├ª├ƒΓòù├ûng hΓö£├íng lo├ƒΓòæ├¡t (Transfer Orders)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transfer_orders`
--

LOCK TABLES `transfer_orders` WRITE;
/*!40000 ALTER TABLE `transfer_orders` DISABLE KEYS */;
/*!40000 ALTER TABLE `transfer_orders` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `username` varchar(50) NOT NULL,
  `password` varchar(255) NOT NULL COMMENT 'bcrypt hashed',
  `full_name` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `role` enum('Admin','HR_Manager','Project_Manager','Site_Supervisor','Employee') NOT NULL DEFAULT 'Employee',
  `status` enum('Active','Inactive','Locked') NOT NULL DEFAULT 'Active',
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uq_users_username` (`username`),
  UNIQUE KEY `uq_users_email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='TΓö£├íi kho├ƒΓòæ├║n h├ƒΓòù├º th├ƒΓòù├ªng HRIS';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `work_experiences`
--

DROP TABLE IF EXISTS `work_experiences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `work_experiences` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `employee_id` int(10) unsigned NOT NULL,
  `company_name` varchar(150) NOT NULL,
  `position` varchar(100) NOT NULL,
  `start_date` date NOT NULL,
  `end_date` date DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` datetime NOT NULL DEFAULT current_timestamp(),
  `updated_at` datetime NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `fk_we_emp` (`employee_id`),
  CONSTRAINT `fk_we_emp` FOREIGN KEY (`employee_id`) REFERENCES `employees` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `work_experiences`
--

LOCK TABLES `work_experiences` WRITE;
/*!40000 ALTER TABLE `work_experiences` DISABLE KEYS */;
/*!40000 ALTER TABLE `work_experiences` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-16 13:58:08
